<template name="test">
	<div class="row">
		<div class="col-xs-12">
			<div class="centered">
				<span id="number">{{number.value}}</span>
				<br/>
				<button id="button" class="btn btn-lg btn-primary">Increment</button>
			</div>
		</div>
	</div>
</template>